<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome {{request.user}}</title>
</head>
<body>
    Welcome {{request.user}}
    <p>
        This is a clean and simple login auth system using Django which can be integrated anywhere easily!!
    </p>
     <p class="mt-5 mb-3 text-muted">Made with &#10084 by <a href="https://github.com/raahulrathore">Rahul Rathore</a> </p>
    
    <a href="/logout">Logout</a>
</body>
</html>